.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}
.card-body img{
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.product-name {
    font-weight: bold;
}

.product-price {
    font-size: 18px;
}

.delivery-status {
    font-style: italic;
    font-weight: 600;
}
.delivery-tag {
    margin-bottom: 10px;
}

.rate-review-btn {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rate-review-btn:hover {
    background-color: #0056b3;
}
.rate-button {
    font-weight: 600;
    color: orange;
}