.card {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-product {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin-right: 10px;
}

.product-details {
    flex: 1;
}

.product-details p {
    font-size: 18px;
    color: black;
}

.product-price {
    font-weight: bold;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
}

.btn.primary-border.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 16px;
    line-height: 1;
}

.btn.primary-border.circle:hover {
    background-color: #007bff;
    color: #fff;
}

.btn.primary-border.circle:focus {
    outline: none;
}

.card-body > div {
    border-bottom: 1px solid #ddd; /* Add border between div elements */
    padding: 10px 0; /* Add padding to create space between borders */
}

.card-body > div:last-child {
    border-bottom: none; /* Remove border from the last div */
}